html {
  margin-left: 50px;
  margin-right: 80px;
  scroll-behavior: smooth;
  min-height: 100%;
  position: relative;
}

.master img {
  width: 200px;
  border-radius: 50%;
}

.master p {
  text-align: center;
  width: 200px;
}
#masters img{
  width: 200px;
  border-radius: 50%;
}



