{% extends "base.html" %}

{% block title %}403 Извините, доступ запрещен{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4">403</h1>
            <h2>Извините, доступ запрещен</h2>
            <p class="lead">У вас нет прав для доступа к этой странице.</p>
            <a href="{% url 'main' %}" class="btn btn-primary">Вернуться на главную</a>
        </div>
    </div>
</div>
{% endblock content %}