{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BUBERSHOP. Лучший Барбершоп в Томске.">
    <meta name="keywords" content="BUBERSHOP... усы...">
    <title> {% block title %} BUBERSHOP {% endblock %} </title>     
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
<style>
  .carousel {
    max-width: 500px
    {% comment %} justify-content: center; {% endcomment %}
    
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
  }
</style>
</head>
<body>
    <header class="sticky-top align-content-lg-center">
        {% block header %}
        {% endblock header %}
    </header>
    <main class="m-5">
        {% block content %}
        {% endblock content %}
    </main>
    {% block footer %}
    <footer class="bg-dark text-white py-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <h5>Разделы страницы</h5>
                <ul class="list-unstyled">                    
                      <li class="nav-item">
                        <a class="nav-link" href="#masters">Мастера</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#services">Услуги</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#reviews">Отзывы</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#orderForm">Запись на стрижку</a>
                </ul>
              </div>
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <h5>Контакты</h5>
              <ul class="list-unstyled">
                <li>
                  <i class="bi bi-telephone-fill"></i>
                  <a
                    class="text-white text-decoration-none"
                    href="tel:+79131118223"
                    >+7 (913) 111-82-23</a
                  >
                </li>
                <li>г.Томск, ул. Тверская, д. 81</li>                
              </ul>
            </div>
            <div class="col-lg-4 col-md-12">
              <h5>Мы на карте</h5>
              <div class="map-container">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A501fdf851e60ef9deece5cdd06825abc792395c0cdfce1be8840fa894f9796c4&amp;width=360&amp;height=180&amp;lang=ru_RU&amp;scroll=true"></script>
              </div>
            </div>
          </div>
        </div>
      </footer>
    {% endblock footer %}     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
    </html>
</body>
</html>