{% extends "base.html" %}
{% block header %}
{% include 'menu.html' %}
{% endblock header%}
{% block main %}
<section class="col-12 mb-4">
  <h2>О нас</h2>
  <p>
    Добро пожаловать в наш барбершоп — пространство, где стиль и комфорт встречаются в гармонии. Мы предлагаем не просто стрижку, а целый опыт, который подарит вам уверенность и подчеркнет вашу индивидуальность.

Наши мастера — настоящие профессионалы своего дела, которые следят за последними трендами и используют только качественные инструменты и средства. Каждая стрижка, борода или укладка — это произведение искусства, созданное с любовью и вниманием к деталям.

В нашем барбершопе вы сможете расслабиться в уютной атмосфере, наслаждаясь ароматом свежезаваренного кофе и легким разговором. Мы создали пространство, где каждый клиент чувствует себя как дома: стильный интерьер, комфортные кресла и дружелюбный персонал.

Мы понимаем, что каждый мужчина уникален, поэтому предлагаем индивидуальный подход к каждому клиенту. Наша цель — не просто сделать вас красивым, но и помочь вам найти свой уникальный стиль.

Приходите в наш барбершоп и позвольте нам позаботиться о вашем внешнем виде. Мы уверены, что вы уйдете не только с идеальной стрижкой, но и с отличным настроением!
  </p>
</section>
<section id="masters" class="col-12 mb-4">
    <h2>Наши недо мастера</h2>  
    <div
        id="mastersCarouselIndicators"
        class="carousel slide mx-auto"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          {% for master in masters %}
          <button
            type="button"
            data-bs-target="#mastersCarouselIndicators"
            data-bs-slide-to="{{ forloop.counter0 }}"
            class="{% if forloop.first %}active{% endif %}"
            aria-current="true"
            aria-label="Slide {{ forloop.counter }}"
          ></button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for master in masters %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img
              src="{{ master.photo.url }}"
              class="d-block w-100"
              alt="{{ master.first_name }} {{ master.last_name }}"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ master.first_name }} {{ master.last_name }}</h5>
            </div>
          </div>
          {% endfor %}
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#mastersCarouselIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#mastersCarouselIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
        
</section>
<section id="services" class="col-12 mb-4">
  <h2>Услуги</h2>
  
  <h4>Стрижка мужская</h4>
  <p>Мужская стрижка включает в себя подравнивание волос, формирование четких линий и придание волосам желаемой формы. Барбер учитывает индивидуальные особенности клиента, такие как форма лица и тип волос, чтобы добиться наилучшего результата. По желанию, могут быть предложены различные техники стрижки — от классических до современных, включая fade и undercut.</p>

  <h4>Бритье с горячим полотенцем</h4>
  <p>Эта услуга включает в себя традиционное бритье с использованием опасной бритвы. Перед началом процедуры барбер обрабатывает кожу горячим полотенцем, чтобы раскрыть поры и подготовить кожу к бритью. Использование качественных кремов и лосьонов помогает избежать раздражения, придавая коже гладкость и свежесть.</p>

  <h4>Уход за бородой</h4>
  <p>Услуга включает стрижку, подравнивание и тематический уход за бородой и усами. Барбер формирует бороду в соответствии с пожеланиями клиента, помогает выбрать оптимальную форму и длину, а также может предложить уходовые продукты для ухода за бородой в домашних условиях.</p>

  <h4>Моделирование прически</h4>
  <p>Это услуга по укладке и стилизации волос с использованием различных стайлинговых средств. Барбер поможет выбрать стиль укладки, который будет идеально подходить к внешнему виду и образу жизни клиента. Услуга может включать использование фенов, муссов и восков, а также советы по уходу за волосами.</p>

  <h4>Покраска волос</h4>
  <p>Услуга включает в себя окрашивание волос, чтобы обновить образ или скрыть седину. Квалифицированные барберы могут предложить различные техники окрашивания, такие как мелирование или балаяж, и помогут выбрать цвет, который будет соответствовать индивидуальному стилю клиента.</p>
</section>
<section id="reviews" class="col-12 mb-4">
  <h2>Отзывы</h2>
  <p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum neque repellat soluta veniam esse quis, iste dolores fugit aliquid nisi sapiente sint excepturi reiciendis omnis eum aperiam assumenda voluptatibus magni error aliquam voluptatum animi ducimus ut. Laudantium, dolores! Deleniti molestias esse placeat quod provident velit, repellat minus nobis fugiat. Eos.</p>
    <p>Illo doloremque incidunt ipsam cum explicabo voluptates, maxime magni praesentium dolor magnam harum, cumque, corporis aliquam natus consequuntur aut fuga eligendi dolores autem! Cum voluptates numquam dolorum sapiente eveniet quis tempora. Quae, maiores sequi debitis modi tenetur possimus explicabo commodi laudantium unde sunt nisi odio repellendus voluptates ratione cum quos!</p>
    <p>Deleniti laudantium temporibus cupiditate voluptas quasi saepe quae ea voluptate tenetur magni rerum voluptates aut magnam illo quo autem ullam libero natus, fugiat eum sunt suscipit necessitatibus? Suscipit vero dolorem doloremque rerum cupiditate in error dolore incidunt, tempore nostrum minus similique accusamus tenetur eius, unde repellendus laudantium? Provident, nisi alias?</p>
    <p>Amet, nihil corporis. Nihil molestias, neque architecto veniam maiores, soluta quidem sint omnis eius dolores a illo iure, amet nisi facilis unde. Fugiat hic saepe sed nihil exercitationem? Sint, recusandae saepe consequuntur deleniti vel, ab atque veniam architecto laudantium nihil dolor voluptas id sunt similique facere voluptatibus nulla voluptate repudiandae.</p>
    <p>Quasi accusamus accusantium nostrum voluptatem repudiandae fuga. Vitae quos praesentium maxime hic incidunt delectus vero voluptates non fugiat nam consequuntur, veritatis numquam laborum quisquam. Inventore odio amet, quod corporis neque temporibus autem, eum eius, nisi soluta quam doloremque quae voluptates earum? Reprehenderit non repellendus libero minima nihil perspiciatis dolores saepe!</p>
    <p>Explicabo doloribus debitis dolorem nobis illum ut beatae vero, sed quae excepturi aliquid, amet, quo aut obcaecati aperiam maxime fuga? Inventore fugiat velit possimus eius voluptates libero distinctio, iste molestiae animi saepe praesentium cum aliquam ullam quae dicta reprehenderit quasi incidunt quia dolores similique officiis dignissimos voluptate, illo deserunt! Ducimus.</p>
</section>
<section id="orderForm" class="col-12 mb-4">
  <h2>Запись на стрижку</h2> 
  <form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">{{ form.as_p }}</div>
    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>
</section>
<script>
  // Функция для выполнения AJAX-запроса к серверу и получения услуг по выбранному мастеру
  async function fetchServices(masterId) {
      const url = `/get_services_by_master/${masterId}/`; // этот URL должен соответствовать маршрутизации
      const response = await fetch(url);
      const data = await response.json();
      return data.services;
  }

  // Функция для обновления выпадающего списка услуг на основе полученных данных
  function updateServiceOptions(services) {
      const serviceSelect = document.getElementById("id_services");

      // Очистить текущий список опций услуг
      serviceSelect.innerHTML = "";

      // Добавить новые опции на основании полученных данных
      services.forEach(function (service) {
          const option = document.createElement("option");
          option.value = service.id;
          option.text = service.name;
          serviceSelect.appendChild(option);
      });
  }

  // Обработчик изменения мастера, который запрашивает данные и обновляет список услуг
  function setupServiceSelectListener() {
      const masterSelect = document.getElementById("id_master");

      masterSelect.addEventListener("change", async function () {
          const masterId = masterSelect.value;
          const services = await fetchServices(masterId);
          updateServiceOptions(services);
      });
  }

  // Добавляем обработчик DOMContentLoaded чтобы инициализировать наш Listener после загрузки документа
  document.addEventListener("DOMContentLoaded", function () {
      setupServiceSelectListener();
  });
  </script>
{% endblock main %}
