{% extends "base.html" %} {% comment %} 1. title - заголовок страницы 2. header
- шапка сайта 3. content - основное содержимое 4. footer - подвал сайта {%
endcomment %} {% comment %} Вставляем в header навигационное меню с якорными
ссылками {% endcomment %} {% block header %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BUBERSHOP</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Переключатель навигации"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#masters">Мастера</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Услуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Отзывы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#orderForm">Запись на стрижку</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %} {% comment %} Делаем секции лендинга используя семантический тег
section {% endcomment %} {% block content %}
<section>
  <h2>О нас</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae repellat
    quos perferendis quam omnis blanditiis dolor dignissimos unde? Eaque
    laudantium eligendi dicta quas autem fugit consequatur cumque earum eveniet
    ex! Officiis, eos! Minima perferendis maxime, explicabo hic amet dignissimos
    cupiditate delectus aliquid dolorem sunt eveniet voluptates ut nam fugiat
    reiciendis corporis. Omnis mollitia molestias suscipit porro facilis nihil
    magnam quia esse ipsum itaque labore accusamus sint recusandae, expedita
    cumque dolor earum natus eius totam adipisci sed voluptatum numquam quidem.
    Nam id qui accusantium odit tenetur facere reprehenderit minus eius vel
    natus non voluptatem commodi aliquid facilis iste exercitationem, provident
    incidunt ex odio asperiores fuga aliquam quam. Eveniet odio hic magnam
    doloremque maxime quis ratione ipsa saepe iure atque molestiae laudantium,
    nisi, nemo facere quisquam sit. Voluptatem dolore tempora officiis excepturi
    nesciunt sed, itaque impedit modi, qui sit corrupti molestiae consequuntur
    voluptatum eveniet explicabo maiores doloribus quos tenetur quis? Vero
    dolorum sequi itaque sint sunt, qui iure ducimus cumque officiis
    consequuntur obcaecati, aliquam explicabo repudiandae facere! Quaerat ut
    explicabo similique vitae minus vero commodi soluta veritatis sed at
    praesentium quas dignissimos quasi eveniet aperiam cum aliquam mollitia,
    quis placeat. Iusto facere assumenda nemo totam repellendus libero
    quibusdam, at vitae culpa provident.
  </p>
</section>
<section>
  <h2 id="masters">Наши мастера</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint soluta
    voluptatum repellendus magni, quasi aliquid laborum pariatur repellat facere
    magnam voluptate tempore impedit. Amet, doloremque molestias. Nulla quo
    repudiandae nobis et minima vel doloremque id qui recusandae optio in odit
    iste similique nam deleniti dolor quidem explicabo voluptatem ab aliquam
    obcaecati saepe, sit possimus at. Fuga, consequuntur iure a commodi quia,
    quod omnis explicabo delectus corrupti fugit minima itaque eveniet quae
    accusamus eum vitae nisi doloribus excepturi corporis voluptatem cum velit.
    Optio fugit quidem voluptatem necessitatibus vel! Incidunt reprehenderit
    reiciendis rerum tempora distinctio doloremque ipsum dicta quisquam deleniti
    voluptatem laboriosam optio saepe, perferendis ut! Rerum ex amet culpa.
    Beatae, vero enim animi eveniet ut porro cumque nostrum, suscipit veritatis
    tempore architecto possimus cum, esse sint ex excepturi soluta minus ducimus
    exercitationem? Voluptatibus, earum, sed nisi aliquid rem in expedita quidem
    sunt esse deleniti consequuntur optio dicta voluptatum, quibusdam placeat
    repudiandae accusantium explicabo veniam recusandae atque. Magnam corrupti
    eius minima eos cumque voluptas soluta iste, voluptate perferendis hic,
    maxime fugiat, numquam alias laboriosam. Repellat sunt quae ut modi,
    dolorem, velit aut doloribus omnis a pariatur autem. At doloremque cumque
    eos modi, unde sed reiciendis, quae recusandae nam in, hic ullam quia?
  </p>
</section>
<section>
  <h2 id="services">Услуги</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
    recusandae a tempora repellat pariatur est, libero quis eius doloremque
    ratione deserunt, reprehenderit quas? Dolores voluptates placeat aliquid!
    Repellendus voluptas nulla explicabo blanditiis, maxime voluptatem, debitis
    temporibus quidem exercitationem earum repudiandae possimus impedit nisi
    labore repellat praesentium? Eveniet sequi blanditiis consectetur adipisci
    facere beatae ut, aut in ipsam a error dolore aliquam debitis similique
    totam atque repellendus fuga. Similique modi ipsum, cum temporibus quibusdam
    quia nulla reprehenderit exercitationem corporis dolorem dolores saepe
    voluptatem corrupti nesciunt! Unde eum dolore aliquam cupiditate eius
    dolorum reprehenderit quam! Recusandae nemo et amet animi dolor quos
    doloribus. Eaque modi ut non saepe voluptates soluta nostrum possimus natus!
    Ullam, expedita aliquid. Nemo est ducimus ut nisi reiciendis repudiandae
    deleniti, reprehenderit fuga laboriosam, quia eaque necessitatibus sequi?
    Quisquam velit dicta consectetur suscipit odio, ab tempore enim inventore
    ad, repellat, officia architecto quia nemo saepe corporis vitae praesentium
    incidunt explicabo animi accusamus! Quo ea porro sed natus? Ad voluptatum
    quidem commodi aliquid delectus rem officia et nihil, cumque veritatis
    exercitationem, distinctio vitae in tempore blanditiis repellat corrupti
    odit ratione eius voluptatem sequi quo perspiciatis omnis. Eum aliquam et
    repudiandae numquam facere ea perferendis? Consectetur cumque aliquam
    deserunt in temporibus.
  </p>
</section>
<section>
  <h2 id="reviews">Отзывы</h2>
  <p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum neque repellat soluta veniam esse quis, iste dolores fugit aliquid nisi sapiente sint excepturi reiciendis omnis eum aperiam assumenda voluptatibus magni error aliquam voluptatum animi ducimus ut. Laudantium, dolores! Deleniti molestias esse placeat quod provident velit, repellat minus nobis fugiat. Eos.</p>
    <p>Illo doloremque incidunt ipsam cum explicabo voluptates, maxime magni praesentium dolor magnam harum, cumque, corporis aliquam natus consequuntur aut fuga eligendi dolores autem! Cum voluptates numquam dolorum sapiente eveniet quis tempora. Quae, maiores sequi debitis modi tenetur possimus explicabo commodi laudantium unde sunt nisi odio repellendus voluptates ratione cum quos!</p>
    <p>Deleniti laudantium temporibus cupiditate voluptas quasi saepe quae ea voluptate tenetur magni rerum voluptates aut magnam illo quo autem ullam libero natus, fugiat eum sunt suscipit necessitatibus? Suscipit vero dolorem doloremque rerum cupiditate in error dolore incidunt, tempore nostrum minus similique accusamus tenetur eius, unde repellendus laudantium? Provident, nisi alias?</p>
    <p>Amet, nihil corporis. Nihil molestias, neque architecto veniam maiores, soluta quidem sint omnis eius dolores a illo iure, amet nisi facilis unde. Fugiat hic saepe sed nihil exercitationem? Sint, recusandae saepe consequuntur deleniti vel, ab atque veniam architecto laudantium nihil dolor voluptas id sunt similique facere voluptatibus nulla voluptate repudiandae.</p>
    <p>Quasi accusamus accusantium nostrum voluptatem repudiandae fuga. Vitae quos praesentium maxime hic incidunt delectus vero voluptates non fugiat nam consequuntur, veritatis numquam laborum quisquam. Inventore odio amet, quod corporis neque temporibus autem, eum eius, nisi soluta quam doloremque quae voluptates earum? Reprehenderit non repellendus libero minima nihil perspiciatis dolores saepe!</p>
    <p>Explicabo doloribus debitis dolorem nobis illum ut beatae vero, sed quae excepturi aliquid, amet, quo aut obcaecati aperiam maxime fuga? Inventore fugiat velit possimus eius voluptates libero distinctio, iste molestiae animi saepe praesentium cum aliquam ullam quae dicta reprehenderit quasi incidunt quia dolores similique officiis dignissimos voluptate, illo deserunt! Ducimus.</p>
    <p>Amet, voluptate commodi temporibus praesentium nulla, culpa, esse eveniet ut excepturi placeat consequuntur. Qui, a deserunt! Necessitatibus neque deserunt adipisci, eius, possimus distinctio accusamus in est, ipsam perspiciatis itaque blanditiis magni obcaecati animi reiciendis. Nobis quo error eligendi repellat laborum atque, eius, optio omnis illum sint fuga quaerat corrupti nesciunt.</p>
    <p>Reprehenderit sed mollitia ea ullam suscipit! Accusantium ab fuga maiores, porro voluptatem ea commodi quos dolores perferendis modi aut voluptatibus voluptates, nam reprehenderit error veniam eligendi repellat. Magni magnam voluptatem ab, inventore a temporibus nostrum sed obcaecati, sint animi, numquam quisquam repudiandae fugiat quae rerum voluptate delectus? Ipsam, enim incidunt.</p>
    <p>Voluptas nisi ut nemo, optio sapiente molestias qui quod animi laboriosam nesciunt et cum alias porro adipisci dolor totam aspernatur provident, amet quis. Laboriosam veritatis optio provident? Numquam dicta nulla inventore at asperiores commodi, beatae earum mollitia libero repellendus rem laborum ducimus adipisci debitis veritatis illo suscipit? Voluptate, molestias dolore.</p>
    <p>Maiores unde temporibus minus distinctio itaque sit ratione iusto dignissimos vitae! Eaque veniam molestias architecto cupiditate provident repellendus error nisi sit eveniet, quia quos consequuntur nobis aliquid deleniti reprehenderit unde, doloribus non ad asperiores eum! Odio illum a dolorum doloremque, expedita, dignissimos distinctio autem exercitationem ad consequuntur incidunt, quasi debitis.</p>
    <p>Cum dicta quo ipsa architecto commodi saepe, quibusdam dolore voluptates officiis a. Repudiandae dolores eum quod expedita sapiente delectus laborum culpa molestiae, quae, minus iure laboriosam harum rem cupiditate. Provident deserunt libero recusandae cumque, inventore quos asperiores atque sint eaque quibusdam nobis minus consectetur velit veritatis harum et necessitatibus. Eos.</p>
    <p>Dolor, libero asperiores, est possimus sapiente esse, tempore pariatur accusamus harum excepturi sint ullam? Officiis facere nam, nisi minus corporis consequatur sed sit quae error. A hic at similique minima! Quia temporibus perferendis inventore corporis beatae natus, excepturi velit repellat soluta deleniti quod veniam non ex culpa recusandae porro repudiandae?</p>
    <p>Officia facere eos temporibus porro recusandae sit et commodi a veniam, iusto, suscipit neque quam eum ullam quos in non ab. Tempora illum, fugiat nostrum provident obcaecati cumque sequi molestiae ea alias? Impedit labore soluta fuga vitae recusandae nihil harum cum dignissimos! Non tenetur ex, porro laudantium modi architecto sit?</p>
    <p>Voluptate a ab consectetur excepturi voluptatum in repellat facilis eos, asperiores saepe fuga totam obcaecati doloremque dolorum tempora alias distinctio veritatis ex modi, necessitatibus perspiciatis autem. Labore minus deserunt deleniti, repudiandae excepturi esse possimus cumque autem similique exercitationem obcaecati quo tempore doloribus iste ab! Quis eos quia fugit voluptas nobis?</p>
    <p>Voluptatibus corporis voluptates magni eveniet officia! Quas exercitationem aperiam atque unde quibusdam voluptas vitae quis officia ea commodi, beatae obcaecati optio aliquam omnis reprehenderit esse? Est sunt ducimus necessitatibus officia recusandae illum, nisi, molestias corporis excepturi dolorum provident expedita et consequatur esse aliquam sint debitis repellat illo dolorem, accusamus fugiat!</p>
    <p>Facilis magnam omnis ea voluptate praesentium nobis aliquid excepturi, ducimus provident corporis voluptatibus saepe, incidunt tempore? Consequatur eos porro commodi ipsum illum aspernatur quas maxime? Dolorum consequatur tempora temporibus eos nostrum! Praesentium sit eveniet enim, harum quam facilis dolores fuga nobis non, excepturi necessitatibus, voluptatibus mollitia autem officiis voluptate rerum.</p>
    <p>Molestias facilis eaque unde, earum asperiores fugiat accusamus ducimus excepturi itaque officia dicta in quisquam quo saepe vitae, sapiente natus tempora voluptates fugit porro fuga. Beatae facilis quibusdam debitis reiciendis, iste alias harum aliquid maiores sit corporis distinctio fugit ipsa ratione perferendis voluptate accusantium ipsam unde fuga eveniet nisi exercitationem.</p>
    <p>Praesentium rerum minus provident consectetur quasi recusandae expedita? Molestiae nisi harum laborum et, aliquid quod deleniti nesciunt! Animi voluptas consequatur voluptate at exercitationem vitae dolorem cumque, placeat odit? Delectus quas quos voluptatum amet natus, officiis dolor provident dolores. Repellat molestiae hic ad? Tempore omnis velit modi laborum eum facere delectus!</p>
    <p>Velit sint eius cupiditate corporis assumenda unde quis ullam, rerum, veniam dignissimos distinctio maxime esse magni iure laborum perspiciatis nemo praesentium qui debitis aliquid? Accusantium maiores facere laborum quos dolores voluptate ea? Quae laborum nulla, aperiam fuga quaerat ex. Consequatur, sequi! A, sunt. Iusto accusantium quidem molestias ut aliquid nesciunt.</p>
    <p>Est praesentium et, quod cupiditate modi illo enim saepe quisquam distinctio sint, quos dolorem unde nisi asperiores ipsa quis aspernatur, esse iusto? Nisi nobis vero architecto magnam fugit repudiandae temporibus dolor rerum harum voluptatibus, voluptates enim assumenda, quae labore hic distinctio qui ad ab doloremque alias. Iusto, dolore! Delectus, illum?</p>
  </p>
</section>
<section>
  <h2 id="orderForm">Запись на стрижку</h2>
  {% comment %} Тут будет рендер Django формы {% endcomment %}
</section>
{% endblock %}
