{% extends "base.html" %} {% comment %} 1. title - заголовок страницы 2. header
- шапка сайта 3. content - основное содержимое 4. footer - подвал сайта {%
endcomment %} {% comment %} Вставляем в header навигационное меню с якорными
ссылками {% endcomment %} {% block header %}
{% include 'menu.html' %}
{% endblock %} {% block content %}
<div class="container py-4">
  <div class="row">
    <section id="orderForm" class="col">
      <h2>Запись на стрижку</h2>
      
      <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">{{ form.as_p }}</div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </section>
  </div>
  {% block footer %}
  <p></p>
  {% endblock footer %}
</div>

<script>
  // Функция для выполнения AJAX-запроса к серверу и получения услуг по выбранному мастеру
  async function fetchServices(masterId) {
      const url = `/get_services_by_master/${masterId}/`; // Убедитесь, что этот URL соответствует маршрутизации
      const response = await fetch(url);
      const data = await response.json();
      return data.services;
  }
  
  // Функция для обновления выпадающего списка услуг на основе полученных данных
  function updateServiceOptions(services) {
      const serviceSelect = document.getElementById("id_services");
  
      // Очистить текущий список опций услуг
      serviceSelect.innerHTML = "";
  
      // Добавить новые опции на основании полученных данных
      services.forEach(function (service) {
          const option = document.createElement("option");
          option.value = service.id;
          option.text = service.name;
          serviceSelect.appendChild(option);
      });
  }
  
  // Обработчик изменения мастера, который запрашивает данные и обновляет список услуг
  function setupServiceSelectListener() {
      const masterSelect = document.getElementById("id_master");
      
      masterSelect.addEventListener("change", async function () {
          const masterId = masterSelect.value;
          const services = await fetchServices(masterId);
          updateServiceOptions(services);
      });
  }
  
  // Добавляем обработчик DOMContentLoaded чтобы инициализировать наш Listener после загрузки документа
  document.addEventListener("DOMContentLoaded", function () {
      setupServiceSelectListener();
  });
  </script>

{% endblock content %}